.projects-sect {
    width: 100%;
    height: 100vh;
    overflow: hidden;

    .panel {
        width: 100%;
        height: 100vh;

        display: flex;
        align-items: center;

        background-color: var(--dark-color);
        overflow: hidden;

        .cards-wrapper {
            display: flex;
            gap: 40px;
            padding: 0 10vw;

            .card {
                min-width: 300px;
                height: 400px;

                background: #6B4133;
                color: white;

                display: flex;
                justify-content: center;
                align-items: center;

                font-size: 2rem;
                border-radius: 20px;

                opacity: 1;

                transition: transform 0.3s;
                box-shadow: 0 0 30px rgba(161, 79, 61, 0.3);

                &:hover {
                    transform: scale(1.05);
                }
            }
        }
    }
}