@import "bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
    --primary-color: #3E211E;
    --secondary-color: #6B4133;
    --third-color: #804f3f;
    --dark-color: #1B1313;
    --light-color: #E6E6E6;

    --success-color: #28a745;
    --danger-color: #dc3545;
    --warning-color: #ffc107;
}

body {
    font-family: "Oswald", sans-serif;
    background-color: var(--dark-color);
}